@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root {
    --container-color: #1a1e21;
    --second-color: #3E31FA;
    --text-color: #5E6A83;
    --bg-color: #fff;
    --titulo-color: #0F2145;
}

/* Menu */

header.header {
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.4s;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo_img {
    width: 50px;
    height: 50px;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
}

.social .bx {
    font-size: 1.4rem;
    margin-left: 20px;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--second-color);
    transition: 0.7s;
}

.social .bx:hover {
    color: var(--second-color);
    transition: 0.7s;
}

/* Home */

.home {
    margin-top: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.home_text {
    padding-left: 100px;
    font-size: 1rem;
}

.home_text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--titulo-color);
}

.home_text h3 {
    font-size: large;
    color: var(--titulo-color);
}

.home_text a {
    text-decoration: none;
}

/* Post */

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: var(--titulo-color);
    font-size: 1.5rem;
}

.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.post-caixa {
    background: var(--bg-color);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-titulo {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--titulo-color);
}

.post-titulo:hover {
    color: var(--second-color);
    transition: 0.8s;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}


/* Sobre */
.foto img{
    width: 700px;
    height: 400px;
    margin-left: 30%;
    margin-top: 3%;
}


.sobre p {
    display: flex;
    font-size: 1.2rem;
    text-align: justify;
    margin: 0 20%;
    padding: 50px 0;
}

/*Jogadores*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(530px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.jogadores {
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(365deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.jogador {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
}

.jogador-caixa {
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(365deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.jogador-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.jogador-titulo {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--titulo-color);
}

.jogador-text {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 5px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}