{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>{% block title %}Início - Real Madrid{% endblock %}</title>
</head>
<body>
    {% block nav %}
    <!--Cabeçalho-->
    <header class="header">
        <!--Logo-->
        <div class="nav container">
            <a href="{% url 'index' %}" class="logo"> <img src="{% static 'img/logo-real-madrid.svg' %}" alt="Logo do Real Madrid" class="logo_img"> </a>
            <!--Páginas-->
            <nav class="navbar">
                <a href="{% url 'index' %}">Início</a>
                <a href="{% url 'jogadores' %}">Jogadores</a>
                <a href="{% url 'sobre' %}">Sobre</a>
            </nav>
            <div class="social">
                <a href="https://www.instagram.com/realmadrid/" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.facebook.com/RealMadrid/?locale=pt_BR" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://x.com/realmadrid" target="_blank"><i class="bx bxl-twitter"></i></a>
            </div>
        </div>
    </header>
    {% endblock %}

    <!--Conteúdo-->
    {% block content %}
    <section class="home container" style="background-image: url('{% static 'img/real_madrid_home.jpg' %}');">
        <div class="home_text">
            <a href="{% url 'index' %}"><h1>Real Madrid</h1></a>
            <a href="{% url 'index' %}"><h3>¡El mejor equipo del mundo!</h3></a>
        </div>
    </section>

    <h1 class="titulo">Principais notícias</h1>

    <section class="post container">
        <div class="post-caixa">
            <img src="{% static 'img/real_madrid_endrick.webp' %}" alt="Foto da apresentação de Endrick ao Real Madrid" class="post-img"> 
            <a href="https://www.realmadrid.com/pt-PT/noticias/futebol/primeira-equipa/atualidade/acto-de-presentacion-de-endrick-27-07-2024" class="post-titulo">Recepção calorosa a Endrick no Santiago Bernabéu</a>
        </div>
        <div class="post-caixa">
            <img src="{% static 'img/real_madrid_champions.webp' %}" alt="Foto da décima quinta Champions League do Real Madrid" class="post-img"> 
            <a href="https://www.realmadrid.com/pt-PT/noticias/futebol/primeira-equipa/atualidade/la-decimoquinta-06-06-2024" class="post-titulo">A Décima Quinta!</a>
        </div>
        <div class="post-caixa">
            <img src="{% static 'img/real_madrid_mbappe.webp' %}" alt="Foto da apresentação de Mbappé ao Real Madrid" class="post-img"> 
            <a href="https://www.realmadrid.com/pt-PT/noticias/futebol/primeira-equipa/especiais/especial-fichaje-de-mbappe-25-07-2024" class="post-titulo">Especial: a espetacular apresentação de Mbappé no Real Madrid</a>
        </div>
    </section>

    <h1 class="titulo">Uniforme oficial Real Madrid 2024/2025</h1>

    <section class="post container">
        <div class="post-caixa">
            <img src="{% static 'img/real_madrid_uniformejogador.webp' %}" alt="Foto do uniforme de jogador do Real Madrid" class="post-img"> 
            <a href="https://www.realmadrid.com/pt-PT/noticias/club/atualidade/coleccion-hombre-temporada-24-25" class="post-titulo">Coleção Casa</a>
        </div>
        <div class="post-caixa">
            <img src="{% static 'img/real_madrid_uniformegoleiro.webp' %}" alt="Foto do uniforme de goleiro do Real Madrid" class="post-img"> 
            <a href="https://www.realmadrid.com/pt-PT/noticias/club/atualidade/coleccion-mujer-temporada-24-25" class="post-titulo">Coleção Goleiros</a>
        </div>
        <div class="post-caixa">
            <img src="{% static 'img/real_madrid_uniformetreino.webp' %}" alt="Foto do unforme de treino do Real Madrid" class="post-img"> 
            <a href="https://www.realmadrid.com/pt-PT/noticias/club/atualidade/coleccion-nino-temporada-24-25" class="post-titulo">Coleção Treino</a>
        </div>
    </section>
    {% endblock %}

    <div class="footer container">
        <p>Copyright © 2024.</p>
        <div class="footer_text">
            <p>Produzido por Antônio Antunes e Pedro Isaac</p>
        </div>
    </div>
</body>
</html>