{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Sobre</h1>
<div class ="foto">
    <img src="{% static 'img/Real-Madrid-Logo.png'%}" alt="">
    <p>A História do Real Madrid em Poucas Palavras
        O Real Madrid é um dos clubes de futebol mais famosos e vitoriosos do mundo, com uma história rica e cheia de conquistas. Fundado em 1902 como Madrid Football Club, o clube recebeu o título de "Real" (Real em português) em 1920, concedido pelo rei Afonso XIII da Espanha, o que elevou seu status e o tornou um símbolo do país.
        Os principais marcos da história do Real Madrid incluem:
        A Era de Ouro: A década de 1950 foi marcada por uma era de ouro, com a conquista de cinco títulos consecutivos da Liga dos Campeões da UEFA. Nessa época, o time contava com lendas como Alfredo Di Stéfano e Ferenc Puskás, formando um dos maiores times de todos os tempos.
        Dominância na Liga dos Campeões: O Real Madrid é o clube com o maior número de títulos da Liga dos Campeões, demonstrando uma consistência impressionante ao longo dos anos.
        Ícones do Futebol: Ao longo de sua história, o clube teve diversos jogadores que se tornaram lendas do futebol mundial, como Zidane, Cristiano Ronaldo, Raúl e muitos outros.
        Rivalidade com o Barcelona: A rivalidade com o Barcelona é uma das maiores do futebol mundial, gerando jogos emocionantes e uma grande paixão dos torcedores.
        O Real Madrid é mais do que um clube de futebol, é um símbolo da cultura espanhola e um dos maiores clubes do mundo. Sua história é marcada por conquistas, paixão e uma legião de torcedores espalhados por todo o globo.</p>
</div>
{% endblock %}
