@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --container-color: #1a1e21; /*cor do container*/
    --second-color: #fd8f44; /*cor secundária*/
    --text-color: #43526E; /*cor do texto*/
    --bg-color: #fff; /*cor do background*/
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    padding: 10px 10px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}